<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль | DenSay’lyq</title>

    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/VZowzpr.png">
    <!-- ===== ===== Custom Css ===== ===== -->
    <link rel="stylesheet" href="../css/profile.css"><link rel="stylesheet" href="../../css/profile.css">

</head>

<body>
    <!-- ===== ===== Body Main-Background ===== ===== -->
    <span class="main_bg">

    </span>
    <header>
      <a href="/" class="logo"><img src="https://i.imgur.com/VZowzpr.png" alt=""></a>
      <div class="bx bx-menu" id="menu-icon"></div>
      <ul class="navbar">
          <li><a href="/">Главная</a></li>
          <li><a href="/#shop">Сервисы</a></li>
          <li><a href="/#about">О нас</a></li>
          <li><a href="/#app">Планы</a></li>
          <li><a href="/#contact">Контакты</a></li>
          <% if(curentUser.username != userData.username) { %>
          <% } else {  %>
          <li><a href="/user/logout">Выйти</a></li>
          <% }%> 
      </ul>
    </header>

    <!-- ===== ===== Main-Container ===== ===== -->
    <div class="container">
        <!-- ===== ===== Header===== ===== -->


        <!-- ===== ===== User Main-Profile ===== ===== -->
        <section class="userProfile card">
            <div class="profile">
                <figure><img src="<%= userData.photo_url%>" alt="profile" width="250px" height="250px"></figure>
            </div>
        </section>


        <!-- ===== ===== Work & Skills Section ===== ===== -->
        <section class="work_skills card">

            <!-- ===== ===== Work Contaienr ===== ===== -->

            <!-- ===== ===== Skills Contaienr ===== ===== -->
            <div class="skills">
                <h1 class="heading">Рекомендации</h1>
                <ul>
                    <li style="--i:0">Сдать Анализы</li>
                    <li style="--i:1">Кето Диета</li>
                    <li style="--i:2">Витамин D & Omega3</li>
                    <li style="--i:3">
                      Активный образ жизни
                    </li>
                </ul>
            </div>
        </section>


        <!-- ===== ===== User Details Sections ===== ===== -->
        <section class="userDetails card">
            <div class="userName">
                <h1 class="name"><%= userData.name%></h1>
                 <div class="map">
                    <i class="ri-map-pin-fill ri"></i>
                    <span><%= userData.city%></span>
                </div>
                <p></p>
            </div>

            <div class="rank">
                <div class="rating">
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill underrate"></i>
                </div>
            </div>

        </section>


        <!-- ===== ===== Timeline & About Sections ===== ===== -->
        <section class="timeline_about card">
            <div class="tabs">
                <ul>
                    <li class="about">
                        <i class="ri-user-3-fill ri"></i>
                        <span>Персональные данные</span>
                    </li>
                    <% if(curentUser.role == 'doctor') { %>
                        <li class="about">
                            <i class="ri-user-3-fill ri"></i>
                            <span>Перейти в Чат</span>
                        </li>
                    <% } else { %>

                    <% } %>
                </ul>
            </div>

            <div class="contact_info">
                <h1 class="heading">Контактная информация</h1>
                <ul>
                    <li class="phone">
                        <h1 class="label">Почта : </h1>
                        <span class="info"><%= userData.email%></span>
                    </li>



                </ul>
            </div>

            <div class="basic_info">
                <h1 class="heading">Основная информация</h1>
                <ul>
                    <li class="birthday">
                        <h1 class="label">Дата Рождения:</h1>
                        <span class="info">Не Указано</span>
                    </li>

                    <li class="sex">
                        <h1 class="label">Пол:</h1>
                        <span class="info"><%= userData.gender %></span>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</body>

</html>
